/*command*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}



/*header*/

#site_logo {
    height: 80px;
    padding-left: 1rem;
    padding-top: 1rem;

}

#img_logo {
    vertical-align: middle;
    height: 40px;


}

#title_logo {
    font-size: 35px;
    font-weight: bold;
}


